.name {
  font-size: 1em;
  font-family: Inter, sans-serif;
  font-weight: 600;
  letter-spacing: -0.02em;
  align-self: end;
  justify-self: start;
  text-align: start;
  display: flex;
  align-items: center;
  color: var(--bluesky-card-primary);
}

.clickable:hover {
  text-decoration: underline;
}
